@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Enjoy Music with HotHitsLyrics</h1>
    <p>You can find the lyrics of popular songs here. Join us to upload the lyrics you love!</p>

    @*cite the resources*@
    <p>select2 jQuery replacement for select boxes from <a href="https://cdnjs.com/libraries/select2" target="_blank">cdnjs</a></p>
    <p>table sorting from <a href="https://kryogenix.org/code/browser/sorttable/" target="_blank">kryogenix.org</a></p>
</div>
