@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Enjoy Music with <img src="~/Image/HotHitsLyrics.png" alt="Logo" /></h1>
    <h3>All the lyrics of hot hits are in HERE!</h3>

    @*cite the resources*@
    <p>select2 jQuery replacement for select boxes from <a href="https://cdnjs.com/libraries/select2" target="_blank">cdnjs</a></p>
    <p>table sorting from <a href="https://kryogenix.org/code/browser/sorttable/" target="_blank">kryogenix.org</a></p>
    <p>Logo made at <a href="https://logomakr.com/" target="_blank">Logomakr</a></p>
    <p>Royalty-Free images from <a href="https://pixabay.com/" target="_blank">Pixabay</a></p>
</div>
