@{
    ViewData["Title"] = "Home-Hot Hits Lyrics";
}

<div class="text-center">
    <h1 class="display-4">Enjoy Music with HotHitsLyrics</h1>
    <p>You can find the lyrics of popular songs here. Join us to upload the lyrics you love!</p>
</div>
